<div class="conatiner">
    <div class="row">

<p class="text-center">
    Spread the Joy of Reading
</p><p class="text-author-gray tracking-wide text-sm md:py-2 ">
    Thanks for agreeing to promote the the joy of reading! At JustBooks,
     We are grateful to you for coming forward to share your books with our members and supporting this cause by agreeing to donate books to the network. 
     Just share some basic details with us and we will pick up your books from your house at your convenience.
</p>
<div class="grid grid-cols-2">
    <div class="">
        <label class="font-semibold ph:text-sm text-md text-primary-red truncate" for="Name">
            Name</label>
            <br>
            <input id="name" class=" drop-shadow my-2 ph:text-sm p-1 px-3 w-full rounded h-10 ph:h-8 focus:outline-primary-red " placeholder="Name" type="text"></div>
            <div class="">
                <label class="font-semibold ph:text-sm text-md text-primary-red truncate" for="E-mail">E-mail

                </label>
                <br>
                <input id="email" class=" drop-shadow my-2 ph:text-sm p-1 px-3 w-full rounded h-10 ph:h-8 focus:outline-primary-red " placeholder="E-mail" type="email">
            </div>
            <div class="">
                <label class="font-semibold ph:text-sm text-md text-primary-red truncate" for="Phone Number">Phone Number

                </label>
                <br>
                <input id="mobile" class=" drop-shadow my-2 ph:text-sm p-1 px-3 w-full rounded h-10 ph:h-8 focus:outline-primary-red " placeholder="Number" type="number">
            </div>
            <div class="">
                <label class="font-semibold ph:text-sm text-md text-primary-red truncate" for="Number of Books">Number of Books</label><br>
                <input id="noOfBooks" class=" drop-shadow my-2 ph:text-sm p-1 px-3 w-full rounded h-10 ph:h-8 focus:outline-primary-red " placeholder="Number" type="number"></div><div class="col-span-2 flex flex-col justify-center items-center w-full ">
                    <label class="my-2 font-semibold ph:text-sm text-md text-primary-red">Address of Books</label><textarea class="lg:w-3/5 ph:w-full shadow-md border border-title-gray-50 rounded-md p-2 resize-none overflow-scroll h-40 lg:h-52 focus:outline-primary-red " 
                    placeholder="Address here" id="address">

                    </textarea>
                    <button class="border">Submit</button><div class="border-2 my-2 w-full">

                    </div><p class="text-title-gray font-semibold ph:text-sm md:py-2">
                        <span class="font-bold ">Note: </span>
                        JustBooks has a stated policy against sharing pirated books in our network. 
                        When we receive books from you, they will be screened for piracy and only original copies will get added to the network.

                </p></div></div>
            </div>