.container{
    margin-top: 30px;
    }
    input.ng-invalid.ng-touched{
        border: 1px solid red;
    }
    .panel-body{
        width: 800px;
        background-color:thistle ;

    }
    small{
        color: red;
    }

    