<div class="nav-items">
    <div class="nav-item">
      <a routerLink="/admin/dashboard">
        <i class="fas fa-dashboard">
          Dashboard</i></a>
    </div>
    <div class="nav-item">
      <a routerLink="/admin/myprofile">
        <i class="fas fa-admin">
       My Profile </i></a>

    </div>
    <div class="nav-item">
      <a routerLink="/admin/managebooks">
        <i class="fas fa-manage">
          Manage Books</i></a>
    </div>

    <div class="nav-item">
      <a routerLink="/admin/managefine">
        <i class="fas fa-fine">
          Manage Fine</i></a>

    </div>
    <div class="nav-item">
      <a routerLink="/admin/issuebooks">

      <i class="fas fa-issue">
        Issue Books</i></a>
    </div>
    <div class="nav-item">
      <i class="fas fa-view">
        View All Issue Books</i>
    </div>
    <div class="nav-item">
      <i class="fas fa-users">
        Manage Users</i>
    </div>
    <div class="nav-item">
      <i class="fas fa-request">
        View Rquest BookData</i>
    </div>
  </div>