<router-outlet></router-outlet>
<div class="conatiner-fluid">
    <div class="row1">
         <div class="col-md-4">
                <img src="../../assets/Images/logo.png" width="310%" style="background-color:antiquewhite;">
        </div>
     </div>

<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<marquee direction="right">Welcome!</marquee> 

    <section class="book">
        <div class="slider-wrap">
        <div class="slider-main">
        <div class="item">
            <div class="text"><a class="slider" title="Magazines" href="/books/magazines/pr?sid=bks,wsm&amp;otracker=categorytree">Magazines</a>
            </div>
        
        </div>
        <div class="item">
            <div class="text"><a class="slider" title="Audio Books" href="/books/audio-books/pr?sid=bks,8fl&amp;otracker=categorytree">Audio Books</a></div>
        
        </div>
        <div class="item">
            <div class="text"><a class="slider" title="Higher Education and Professional Books" href="/books/higher-education-and-professional-books/pr?sid=bks,f50&amp;otracker=categorytree">Higher Education and Professional Books</a>
            </div>
        
        </div>
        <div class="item">
            <div class="text"><a class="slider" title="History and Archaeology Books" href="/books/history-and-archaeology-books/pr?sid=bks,9xa&amp;otracker=categorytree">History and Archaeology Books</a>
            </div>
        
        </div>
        <div class="item">
            <div class="text"><a class="slider" title="Lifestyle, Hobby and Sport Books" href="/books/lifestyle-hobby-and-sport-books/pr?sid=bks,wcr&amp;otracker=categorytree">Lifestyle, Hobby and Sport Books</a>
            </div>
        
        </div>
        </div>
        <div class="button-area">
            <button type="button" class="prev" appPrev style="background: none;"><<</button>
            <button type="button" class="next" appNext style="background: none;">>></button>

            </div>
        </div>
   
          </section>
          <section class="book">
            <div class="slider-wrap">
            <div class="slider-main">
            <div class="item">
                <div class="text"><a class="slider" title="Test Preparation Books" href="/books/test-preparation-books/pr?sid=bks,4b5&amp;otracker=categorytree">Test Preparation Books</a>
                </div>
            
            </div>
            <div class="item">
                <div class="text"><a class="slider" title="Literature Books" href="/books/literature-books/pr?sid=bks,w4n&amp;otracker=categorytree">Literature Books</a>
                </div>
            
            </div>
            <div class="item">
                <div class="text"><a class="slider" title="Graphic Novels and Comics" href="/books/graphic-novels-and-comics/pr?sid=bks,2vh&amp;otracker=categorytree">Graphic Novels and Comics</a>
                </div>
            
            </div>
            <div class="item">
                <div class="text"><a class="slider" title="School Books" href="/books/school-books/pr?sid=bks,ptf&amp;otracker=categorytree">School Books</a>
                </div>
            
            </div>
            <div class="item">
                <div class="text"><a class="slider" title="Self-Help Books" href="/books/selfhelp-books/pr?sid=bks,5uw&amp;otracker=categorytree">Self-Help Books</a></div>
            
            </div>
            </div>
            <div class="button-area">
                <button type="button" class="prev" appPrev style="background: none;"><<</button>
                <button type="button" class="next" appNext style="background: none;">>></button>
    
                </div>
            </div>
        </section>    
<section class="book">
    <div class="slider-wrap">
      <div class="slider-main">
         <div class="item">
            <div class="text"><a class="slider" title="Philosophy and Religion Books" href="/books/philosophy-and-religion-books/pr?sid=bks,sqa&amp;otracker=categorytree">Philosophy and Religion Books</a>
                    </div>
                
                </div>
                <div class="item">
                    <div class="text"><a class="slider" title="Social Science Books" href="/books/social-science-books/pr?sid=bks,rbc&amp;otracker=categorytree">Social Science Books</a>
                    </div>
                
                </div>
                <div class="item">
                    <div class="text"><a class="slider" title="Reference Books" href="/books/reference-books/pr?sid=bks,hbw&amp;otracker=categorytree">Reference Books</a>
                    </div>
                
                </div>
                <div class="item">
                    <div class="text"><a class="slider" title="Arts, Language and Linguistic Books" href="/books/arts-language-and-linguistic-books/pr?sid=bks,mzb&amp;otracker=categorytree">Arts, Language and Linguistic Books</a>
                    </div>
                
                </div>
                <div class="item">
                    <div class="text"><a class="slider" title="Children and Young Adult Books" href="/books/children-and-young-adult-books/pr?sid=bks,xql&amp;otracker=categorytree">Children and Young Adult Books</a>

                    </div>
                
                </div>
                </div>
                <div class="button-area">
                    <button type="button" class="prev" appPrev style="background: none;"><<</button>
                    <button type="button" class="next" appNext style="background: none;">>></button>
        
                    </div>
                </div>
           
 </section>



        
            
          
            
  <p style="text-decoration:solid;">You might be interested in</p>      

<p style=" font-style:oblique; font-weight: bold;">A Unique Home Delivery Of Library Books:</p>
<li style="margin: left 71px; font-style: oblique;">For Kids And Adults in PUNE.</li> 
<li style="margin: left 71px; font-style: oblique;"> SilentSpeaker Library is accessible 24*7.</li> 
    <li style="margin: left 71px; font-style: oblique;">  Check the Library Collection From The Leisure Of Your Home Or At Work.</li> 
        <li style="margin: left 71px; font-style: oblique;"> Add Books to Your List and Get Them Delivered At Your Doorstep.</li> 
            <li style="margin: left 71px; font-style: oblique;"> When You Are Done Reading We Will Get The Books Picked Up.</li> 
            
          
            <br>

<div class="row">
    <div class="col-md-6">
<br><br><br><br><br><br>
    <h1 class="p" style="text-overflow:ellipsis;">
Spread the Joy of Reading</h1>
<p>
    Let the pages that inspire you inspire the next generation of readers.<br>
    Donate your favourite books to our library 
</p>
<button class="btn" type="button" >
    <a routerLink="/donate">Donate Now</a></button>
</div>
<div class="col-md-6">
<span class="donate"></span>
<img src="../../assets/Images/book2.png" alt="Justbooks logo" layout="fixed" loading="eager" class="basis-1/3 " width="378px" height="372px">
</div>
</div>