<p>my-profile works!</p>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-offset-4">
            <div class="panel border">
                <div class="panel-heading">Fill_Your_Details!</div>

<div class="form-group">
    <div class="input-field">
        <table>
            <th>
        <label for="cars">Email_Id:</label></th>
        <th>
        <input style="width: 250px;"  type="text"
        id="Email_Id"
        formControlName ="Email_Id"
        class="form-control" placeholder="Email_Id"></th>
        </table>
    </div>
</div>
<br>
<div class="form-group">
    <div class="input-field">
        <table>
            <th>
        <label for="cars">Name:</label></th>
        <th>
        <select name="membership" id="membership">
         <option value="volvo">Miss</option>
         <option value="saab">Mr</option>
         <option value="opel">Mrs</option>
         <option value="volvo">Ms</option>
         </select>
        </th>
     <th>

        <input style="width: 250px;"  type="text"
        id="First_Name"
        formControlName ="First_Name"
        class="form-control" placeholder="First_Name"> 
    </th>
    <th>
        <input style="width: 250px;"  type="text"
                id="Middle_Name"
                formControlName ="Middle_Name"
                class="form-control" placeholder="Middle_Name">
     </th>
     <th>
        <input style="width: 250px;"  type="text"
        id="Sur_Name"
         formControlName ="Sur_Name"
           class="form-control" placeholder="Sur_Name"> 
        </th>
    </table> 
  </div>
</div>
<br>


<div class="form-group">
   <div class="input-field">
    <div class="radio-button">
        <table>
            <th>
    <label for="cars">Gender:</label>
        <input type="radio" id="Female" name="Gender" value="Female">
    </th> <th>
    <label for="html">Female</label>
</th>
    <input  type="radio" id="Male" name="Gender" value="Male">
     <label for="css">Male</label><br>
    </table>
    </div>
</div>
</div>
<br>
<div class="form-group">
    <div class="input-field">
        <input style="width: 250px;"  type="date"
            id="Date_Of_Birth"
            formControlName ="Date_Of_Birth"
            class="form-control" placeholder="Date_Of_Birth"> 
    </div>
</div>
<br>
<div class="form-group">
    <div class="input-field">
        <input style="width: 250px;"  style="width: 250px;" type="text"
            id="Mobile"
            formControlName ="Mobile" maxlength="10"
            class="form-control" placeholder="Mobile"> 
     </div>
</div>

<br>
<div class="form-group">
    <div class="input-field">
        <table>
            <th>
    <input style="width: 250px;"  type="text"
    id="Address"
    formControlName ="Address"
    class="form-control" placeholder="Address"></th>
    <th>
    <input style="width: 250px;"  type="text" id="city" name="city" value="Pune" readonly="" 
    aria-invalid="false" class="valid" style="width: 50px;">
</th>
<th>
   <input style="width: 250px;"  type="text" id="state" name="state" value="MAHARASHTRA" readonly="" style="width: 120px;">
</th>
</table>                                                 
    </div>
</div>


<div class="form-group">
    <div class="input-field">
         <input style="width: 150px;"  type="text"
          id="Pincode"    BookTypeModule

           formControlName ="Pincode"
               class="form-control" placeholder="Pincode"> 
    </div>
</div>

 <button class="btn btn-primary btn-block mt-4 w-100" type="save" 
style="width: 50px;">Submit</button>      
            </div> 
        </div>
    </div>
  </div>

