<div class="container-fluid">
<nav class="navbar navbar-default">
        <div class="navbar-header">
            <div class="menu-bar nav">
        
             
    </div>
    
    <div class="navbar">
        <i style="font-size:40px;" class="fas fa-book">
        </i>
        <a style="color: black;" href="#" class="navbar-brand"
         routerLink="/booktype">BookShop</a>
        <ul class="navbar">
        <a style="color: black;" href="#">Home</a>                                                                                                                                                                                              
     
            <input type="text" class="form-control" 
            [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
            <span class="fa fa-search search-icon"></span>
   
        </ul>
    
        <div class="dropdown" dropdown>
            <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Register</a>
            <div class="dropdown-menu mt-3" *dropdownMenu="">
              <a class="dropdown-item" href="auth/login">User</a>
              <a class="dropdown-item" href="auth/login">Admin</a>
              
    
    
            </div>
          </div>
    <div><button style="background-color:bisque ; border: none; color: black;" routerLink="/mycart" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalitem}}</div>
        </button></div>
        
     
        
    </div>
    </div>

    </nav>
    
</div>
    